<article>
    <section class="header">
        Posted on $date$
        $if(author)$
            by $author$
        $endif$
        $if(lastmodified)$
          <br/> Last Modified on $lastmodified$
        $endif$
        $if(changelog)$
        <div class="changelog"> <div>Revision History: $changelog$ </div></div>
        $endif$
        $if(tags)$
        <div class="info">Tags: $tags$</div>
        $endif$
    </section>
    <section>

    </section>
    <section>
        $body$
    </section>
</article>
